<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQtoSql.Properties.Settings.studentConnectionString"
            connectionString="Data Source=LAPTOP-6JOEM91O\SQLEXPRESS01;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQtoSql.Properties.Settings.SampleConnectionString"
            connectionString="Data Source=LAPTOP-6JOEM91O\SQLEXPRESS01;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>